 /*Contacto/*/
 .contact-body{
    font-family: $generalfont; 
    background: linear-gradient(to bottom, $colorSecundario-b, $colorSecundario-a);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0%;
    padding-bottom: 1rem;
    color: $colorSecundario-a;
}
.contact_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact_main-S1{
    font-family: $generalfont; 
    font-weight: normal;
    color: $colorSecundario-a;
    background-color: $colorSecundario-b;
    border-radius: 2rem;
    width: 20rem;
    padding: 3rem;
    font-size: large;
    margin: 2rem;
}
.contenedor-formulario{
    background-color: $colorSecundario-b;
    margin-top: 1rem;
    padding: 0.5rem;

}
.formulario{
    background-color:$colorSecundario-a;
    font-family: $generalfont;
    text-align: left;
    padding: 1rem;
    color: $colorPrincipal;
    height: 100%;
}
.rellenar{
    align-items: center;
    text-align: center;
    font-family: $generalfont; 
    border:1px solid $colorSecundario-a;
    border-radius:3px;
    background-color:#f6f6f6;			
    resize:none;
    display:block;
    align-content: center;
}
.enviar_contact{
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
    list-style-type: none;
    font-family: $generalfont; 
    font-weight: bold;
    color: $colorPrincipal;
    background-color: #797979;
    justify-content: center;
    border:1px solid $colorSecundario-a;
    margin: 1rem;
}
.contact_main-S2{
    font-family: $generalfont; 
    color: $colorSecundario-a;
    background-color: $colorSecundario-b;
    border-radius: 2rem;
    width: 20rem;
    padding: 3rem;
    font-size: large;
    margin: 2rem;
}
 /*CONTACTO en Tablet pages/*/
 @media only screen and (min-width: 768px) and (max-width: 1024px){
    .contact_main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: safe;
        font-size: medium;
    }
    .formulario{
        background-color: $colorSecundario-a;
        font-family: $generalfont;
        text-align: left;
        padding: 1rem;
        color: #78ACAC;
        margin: 1rem;
        justify-content: center;
    }
    .rellenar{
        align-items: center;
        text-align: center;
        font-family: $generalfont; 
        border:1px solid $colorSecundario-a;
        border-radius:3px;
        background-color:$colorSecundario-a;			
        resize:none;
        display:block;
        align-content: center;
        justify-content: center;
    }
    .contact_main-S1{
        margin: 0%;

    }
    .contact_main-S2{
        margin: 0%;
    }
}

/*CONTACTO Mobile/*/
@media only screen and (max-width: 768px){
    .contact_main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact_main-S1{
        margin: 0%;
        background-color: #79797980;
        padding: 1rem;
    }
    .contact_main-S2{
        margin: 0%;
        background-color: #79797980;
        padding: 1rem;
    }
    .formulario{
        font-family: $generalfont;
        text-align: left;
        padding: 1rem;
        color: $colorPrincipal;
        margin: 1rem;
        justify-content: center;
    }
    .rellenar{
        align-items: center;
        text-align: center;
        font-family: $generalfont; 
        border:1px solid $colorSecundario-a;
        border-radius:3px;
        background-color:$colorSecundario-a;			
        resize:none;
        display:block;
        align-content: center;
        justify-content: center;
    }
    .contenedor-formulario{
        margin: 0%;
        justify-content: center;
        align-items: center;

    }
    .contact_main-textoarq{
        font-family: $generalfont; 
        font-weight: normal;
        font-size: medium;
        color: $colorSecundario-a;

    }
}