/*Nosotros/*/
.nos-body{
    background: linear-gradient(to bottom, $colorSecundario-b, $colorSecundario-a);
    padding-top: 0%;
    padding-bottom: 1rem;
    margin: 1rem;
    color:$colorSecundario-a;
    font-family: $generalfont;
}
/*main nos en Desktop/*/
@media only screen and (min-width: 1020px){
    .nos_main{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-left: 10rem;
}
.nos_main-article-cvs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cvs{
    border-radius: 10%;
    background: linear-gradient(to bottom right, $colorSecundario-b, $colorPrincipal);
    font-family: $generalfont;
    color: $colorSecundario-a; 
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    margin: 1rem;
    position: relative;
}
.cvs-div{
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cvs-h2{
    font-weight: bold;
}
.cvs-h3{
    font-weight: normal;
}
.cvs-p{
    padding-bottom: 1rem;
}

.nos_fondolineal-acercade{
    display: flex;
    flex-direction: row;
    justify-items: end;
    font-size: medium;
    border-radius: 2rem;
}
.nos-acercade{
    width: 20rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: xx-large;
    font-weight: normal;
}
}
/*main nos en Tablet/*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .nos_main{
        display: flex;
        flex-direction: column-reverse;
    }
    .nos_main-article-cvs{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .cvs{
        border-radius: 10%;
        background-color: #79797980;
    }
    .cvs{
        font-family: 'Red Hat Display', sans-serif; 
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        border-radius: 3rem;
        margin: 1rem;
        position: relative;
    }
    .cvs-div{
        padding: 1rem;
        margin: 1rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .cvs-h2{

    font-weight: bold;
    }
    .cvs-h3{

        font-weight: normal;
    }
    .cvs-p{

        padding-bottom: 1rem;
    }
    .nos_fondolineal-acercade{
        font-family: 'Red Hat Display', sans-serif; 
        text-decoration: none;
        text-align:left;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-items: end;
        font-size: medium;
        border-radius: 2rem; 
    }
    .nos-acercade{
        width: 20rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: xx-large;
        font-weight: normal;
    }
}
/*main nos en Mobile/*/
@media only screen and (max-width: 768px){
    .nos_main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .nos_main-article-cvs{
        display: flex;
        flex-direction: column;
    }

    .cvs{
        font-family: 'Red Hat Display', sans-serif; 
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        border-radius: 3rem;
        margin: 1rem;
        font-size: small;
    }
    .cvs-div{
        width: 15rem;
        display: flex;
        flex-direction: column;
        background-color: #79797980;
        padding: 1.5rem;
        border-radius: 2rem;

    }
    .cvs-h2{
    font-weight: bold;
    }
    .cvs-h3{
        font-weight: normal;
    }
    .cvs-p{
        padding-bottom: 1rem;
        display: none
    }
    .nos_fondolineal-acercade{
        font-family: 'Red Hat Display', sans-serif; 
        text-decoration: none;
        color: #FFFFFF;
        text-align:left;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-items: end;
        font-size: medium;
        border-radius: 2rem;
    }
    .nos-acercade{
        width: 20rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size:medium;
        font-weight: normal;
    }
}
