/*Nosotros/*/

.nos-body{
    background: linear-gradient(to bottom, $colorSecundario-b, $colorSecundario-a);
    padding-top: 0%;
    padding-bottom: 1rem;
    margin: 1rem;
    color:$colorSecundario-a;
    font-family: $generalfont;
}

/*main nos en Desktop/*/
@media only screen and (min-width: 992px){
    .nos_main-article-cvs{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cvs{
        border-radius: 10%;
        background: linear-gradient(to bottom right, $colorSecundario-b, $colorPrincipal);
        font-family: $generalfont;
        color: $colorSecundario-a; 
        border-radius: 3rem;
        margin: 1rem;
        position: relative;
    }

    .cvs-div{
        padding: 1rem;
        margin: 1rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .cvs-h2{
        font-weight: bold;
    }
}

/*main nos en Tablet/*/
@media only screen and (min-width: 768px) and (max-width: 992px){

    .nos_main-article-cvs{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cvs{
        border-radius: 10%;
        background-color: #79797980;
    }
    
    .cvs{
        font-family: $generalfont;
        border-radius: 3rem;
        margin: 1rem;
        position: relative;
    }

    .cvs-div{
        padding: 1rem;
        margin: 1rem;
        width: 15rem;
    }
    
    .cvs-h2{
    font-weight: bold;
}

}

/*main nos en Mobile/*/
@media only screen and (max-width: 768px){

    .nos_main-article-cvs{
    display: flex;
    flex-direction: column;
    }

    .cvs{
    font-family: $generalfont;
    border-radius: 3rem;
    margin: 1rem;
    font-size: small;
    }

    .cvs-div{
        width: 15rem;
        display: flex;
        flex-direction: column;
        background-color: #79797980;
        padding: 1.5rem;
        border-radius: 2rem;
    }

    .cvs-h2{
    font-weight: bold;
    }

    .cvs-p{
    display: none
    }

}
